/Volumes/Documents/XCode\ Projects/time-standards/time-standards-xcode/SwimmingTimeStandards.xcodeproj/project.xcworkspace/xcuserdata/*

/Volumes/Documents/XCode\ Projects/time-standards/time-standards-xcode/SwimmingTimeStandards.xcodeproj/project.xcworkspace/xcuserdata/jasoncross.xcuserdatad/UserInterfaceState.xcuserstate

